#content {
    margin-top: 80px;
}
.message {
    position: relative;
    width: 100%;
    height: 650px;
}
@keyframes toTop {
    from{background-position: 0 80px;}
    to{background-position: 0 0;}
}
.message a:nth-child(1){
    position: absolute;
    top: 30px;
    left: 50px;
    display: block;
    height: 70px;
    width: 300px ;
    background: url(../img/message/TONG-XUN-.png) no-repeat 0 20px;
    background-size: auto 70px;
    background-position: 0 80px;
    animation: toTop 1s .5s linear forwards;
}
#content .message .current-1 {
    background: url(../img/message/tongxun-2.png) no-repeat 0 20px;
    background-size: auto 70px;
    background-position: 0 80px;
}
.message a:nth-child(2){
    position: absolute;
    top: 30px;
    right: 0;
    display: block;
    height: 70px;
    width: 550px ;
    background: url(../img/message/SHE-JIAO-.png) no-repeat 0 20px;
    background-size: auto 70px;
    background-position: 0 80px;
    animation: toTop 1.2s .5s linear forwards;
}
#content .message .current-2 {
    background: url(../img/message/shejiao-2.png) no-repeat 0 20px;
    background-size: auto 70px;
    background-position: 0 80px;
}
.message a:nth-child(3){
    position: absolute;
    top: 180px;
    left: 50%;
    display: block;
    margin-left: -300px;
    height: 70px;
    width: 750px ;
    background: url(../img/message/YUN-DONG-.png) no-repeat 0 20px;
    background-size: auto 70px;
    background-position: 0 80px;
    animation: toTop 1.3s .5s linear forwards;
}
#content .message .current-3 {
    background: url(../img/message/yundong-2.png) no-repeat 0 20px;
    background-size: auto 70px;
    background-position: 0 80px;
}
.message a:nth-child(4){
    position: absolute;
    top: 310px;
    right: 0;
    display: block;
    height: 70px;
    width: 700px ;
    background: url(../img/message/MEI-SHI.png) no-repeat 0 20px;
    background-size: auto 70px;
    background-position: 0 80px;
    animation: toTop 1.4s .5s linear forwards;
}
#content .message .current-4 {
    background: url(../img/message/meishi-2.png) no-repeat 0 20px;
    background-size: auto 70px;
    background-position: 0 80px;
}
.message a:nth-child(5){
    position: absolute;
    top: 450px;
    left: 10px;
    display: block;
    height: 70px;
    width: 700px ;
    background: url(../img/message/DIAN-SHANG.png) no-repeat 0 20px;
    background-size: auto 70px;
    background-position: 0 80px;
    animation: toTop 1.5s .5s linear forwards;
}
#content .message .current-5 {
    background: url(../img/message/dianshang-2.png) no-repeat 0 20px;
    background-size: auto 70px;
    background-position: 0 80px;
}
.message {
    border-bottom: 2px solid #000;
}
.object {
    width: 100%;
    margin: 50px auto;
    background: #fff;
    transition: .6s;
}
.object img {
    width: 850px;
    display: block;
    margin: 0 auto;
}
@keyframes op{
    from{opacity: 0;}
    to{opacity: 1;}
}
.toTop {
    position: fixed;
    bottom: 50px;
    right: 133px;
    opacity: 0;
    animation: op 1.8s 2s linear forwards;
}