
#content {
    margin-top: 100px;
}
#content .work-list {
    position: relative;
    z-index: 2;
    width: 100%;
}
#content .work-list img {
    height: 40px;
}
#content .work-list li {
    margin-bottom: 30px;
    text-align: center;
    overflow: hidden;
}
@keyframes toTop{
	from{transform: translateY(100%);}
	to{transform: translateY(0);}
}
#content .work-list li img {
	transform: translateY(100%);
	animation:toTop  1s 1.2s linear forwards;
}
.image-list {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -212.5px;
    margin-left: -352.5px;
    width: 705px;
    height: 425px;
    text-align: center;
}
.image-list img {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 705px;
    height: 425px;
    opacity: 0;
    transform: scale(1.2);
    transition: .6s;
}









