<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>E Commerce</title>
    <link rel="stylesheet" type="text/css" href="../css/reset.css"/>
    <link rel="stylesheet" type="text/css" href="../css/publick.css"/>
    <link rel="stylesheet" type="text/css" href="../css/UIUE.css"/>
</head>
<body>
<div id="a"></div>
<header id="header" >
    <h1 class="title" name="header">
        <a href="../index.html">回到主页</a>
    </h1>
    <nav class="menu">
        <a href="../resume.html">我的简历 </a>
        <a href="../work.html">全部作品 </a>
        <a href="../contact.html">联系方式 </a>
    </nav>
</header>
<section id="content">
    <div class="message">
        <a href="EAB.html"></a>
        <a href="Sociality.html"></a>
        <a href="SportGame.html"></a>
        <a href="food.html"></a>
        <a href="ECommerce.html" class="current-5"></a>
    </div>
    <div class="object">
        <img src="../img/object/jiangxin/1.jpg" alt="">
        <img src="../img/object/jiangxin/2.gif" alt="">
        <img src="../img/object/jiangxin/3.gif" alt="">
        <img src="../img/object/jiangxin/4.gif" alt="">
        <img src="../img/object/jiangxin/5.jpg" alt="">
    </div>
    <a href="#a" class="toTop">回到顶部</a>
</section>
</body>
</html>