<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Graphic Work</title>
    <link rel="stylesheet" type="text/css" href="../css/reset.css"/>
    <link rel="stylesheet" type="text/css" href="../css/publick.css"/>
    <link rel="stylesheet" type="text/css" href="../css/GraphicWork.css"/>
</head>
<body>
<div id="a"></div>
<header id="header" >
    <h1 class="title" name="header">
        <a href="../index.html">回到主页</a>
    </h1>
    <nav class="menu">
        <a href="../resume.html">我的简历 </a>
        <a href="../work.html">全部作品 </a>
        <a href="../contact.html">联系方式 </a>
    </nav>
</header>
<section id="content">
	<div class="imgs">
		<img src="../img/pc/4/1.png"/>
		<img src="../img/pc/4/2.png"/>
		<img src="../img/pc/4/3.png"/>
		<img src="../img/pc/4/4.png"/>
		<img src="../img/pc/4/baozhuang.png" style="width: 380px; padding: 0 100px;"/>
		<img src="../img/pc/4/ertongbaozhuang.png" style="width: 380px; padding: 0 100px;"/>
		<img src="../img/pc/4/CHANPIN.png"/>
		
		<img src="../img/pc/5/A (1).png"/>
		<img src="../img/pc/5/A (2).png"/>
		<img src="../img/pc/5/A (3).png"/>
		<img src="../img/pc/5/A (4).png"/>
		<img src="../img/pc/5/A (5).png"/>
		<img src="../img/pc/5/A (6).png"/>
		
		<img src="../img/pc/1/LOGO-01.jpg"/>
		<img src="../img/pc/1/LOGO-03.jpg"/>
		<img src="../img/pc/1/LOGO-04.jpg"/>
		<img src="../img/pc/1/LOGO-05.jpg"/>
		<img src="../img/pc/1/LOGO-06.jpg"/>
		<img src="../img/pc/1/LOGO-08.jpg"/>
		<img src="../img/pc/1/LOGO-09.jpg"/>
		<img src="../img/pc/1/LOGO-10.jpg"/>
		<img src="../img/pc/1/LOGO-11.jpg"/>
		<img src="../img/pc/1/LOGO-12.jpg"/>
		<img src="../img/pc/1/LOGO-16.jpg"/>
		
		<img src="../img/pc/2/1 (1).jpg"/>
		<img src="../img/pc/2/1 (2).jpg"/>
		<img src="../img/pc/2/1 (3).jpg"/>
		<img src="../img/pc/2/1 (4).jpg"/>
		<img src="../img/pc/2/1 (5).jpg"/>
		<img src="../img/pc/2/1 (6).jpg"/>
		<img src="../img/pc/2/1 (7).jpg"/>
		<img src="../img/pc/2/1 (8).jpg"/>
		<img src="../img/pc/2/1 (9).jpg"/>
		<img src="../img/pc/2/1 (10).jpg"/>
		<img src="../img/pc/2/1 (11).jpg"/>
		<img src="../img/pc/2/1 (12).jpg"/>
	</div>
    <div class="line">
    	<div class="line-inner"></div>
    	<div class="chars">
    		<img src="../img/pc/Packing.png" alt="" />
    	</div>
    	<div class="chars">
    		<img src="../img/pc/poster.png" alt="" />
    	</div>
    	<div class="chars">
    		<img src="../img/pc/vi.png" alt="" />
    	</div>
    </div>
    <a href="#a" class="toTop">回到顶部</a>
</section>
<script src="../js/jquery-2.2.4.js" type="text/javascript" charset="utf-8"></script>
<script src="../js/GraphicWork.js" type="text/javascript" charset="utf-8"></script>
</body>
</html>
