<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>ICON</title>
    <link rel="stylesheet" type="text/css" href="../css/reset.css"/>
    <link rel="stylesheet" type="text/css" href="../css/publick.css"/>
    <link rel="stylesheet" type="text/css" href="../css/GraphicWork.css"/>
    <link rel="stylesheet" type="text/css" href="../css/icon.css"/>
</head>
<body>
<div id="a"></div>
<header id="header" >
    <h1 class="title" name="header">
        <a href="../index.html">回到主页</a>
    </h1>
    <nav class="menu">
        <a href="../resume.html">我的简历 </a>
        <a href="../work.html">全部作品 </a>
        <a href="../contact.html">联系方式 </a>
    </nav>
</header>
<section id="content">
	<div class="message">
        <div class="img-box">
        	<img src="../img/object/icon/ICONS-2014-2016.png" alt="" />
        </div>
        <div class="img-box">
        	<img src="../img/object/icon/GOD.png" alt="" />
        </div>
        <div class="img-box">
        	<img src="../img/object/icon/IS.png" alt="" />
        </div>
        <div class="img-box">
        	<img src="../img/object/icon/IN.png" alt="" />
        </div>
        <div class="img-box">
        	<img src="../img/object/icon/THE.png" alt="" />
        </div>
        <div class="img-box">
        	<img src="../img/object/icon/DETAILS.png" alt="" />
        </div>
        
        
        
        
        
    </div>
    <div class="object">
        <img src="../img/object/icon/ICONS.jpg" alt="">
    </div>
    <a href="#a" class="toTop">回到顶部</a>
</section>
</body>
</html>
